body {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: black;
}

button {
  height: 30px;
  width: 75px;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.25s;
}

.bigbox {
  display: flex;
  align-items: stretch;
  width: 100vw;
  height: 80vh;
  justify-content: space-evenly;
  background: gray;
  font-size: 10px;
}

.search {
  border-radius: 8px;
  text-align: center;
  height: 30px;
}

.search::placeholder {
  text-align: center;
}

.Box-Title {
  width: 20vw;
  height: 100vh;
  background-color: aqua;
}

.Box-Number-Reviews {
  width: 20vw;
  height: 50vh;
  background-color: purple;
}

.Box-Ratings {
  width: 20vw;
  height: 50vh;
  background-color: blue;
}

.Box-Image-URL {
  width: 20vw;
  height: 50vh;
  background-color: brown;
}

.Box-Title,
.Box-Number-Reviews,
.Box-Ratings,
.Box-Image-URL {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.title {
  font-size: 5px;
}

.titleParagraph {
  font-size: 5px;
}

.Titles {
  font-size: 14px;
  font-weight: bold;
}

.Number-Reviews {
  font-size: 14px;
  font-weight: bold;
}

.Ratings {
  font-size: 14px;
  font-weight: bold;
}

.Box-Image-URL {
  font-size: 14px;
  font-weight: bold;
}

footer {
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
}

.box-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: aliceblue;
  width: 200px;
}
