* {
  margin: 0;
}

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 120px;
  background-color: black;
}

button {
  height: 30px;
  width: 75px;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.25s;
}

.bigbox {
  display: flex;
  align-items: stretch;
  width: 100vw;
  height: 100%;
  justify-content: space-evenly;
  font-size: 10px;
  background-color: #a39f9f;
  overflow: auto;
}

.search {
  border-radius: 8px;
  text-align: center;
  height: 30px;
}

.search::placeholder {
  text-align: center;
}

.Box-Title {
  width: 20vw;
}

.Box-Number-Reviews {
  width: 20vw;
  height: 50vh;
}

.Box-Ratings {
  width: 20vw;
  height: 50vh;
}

.Box-Image-URL {
  width: 20vw;
  height: 50vh;
}

.Box-Title,
.Box-Number-Reviews,
.Box-Ratings,
.Box-Image-URL {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 10px;
  padding-bottom: 10px;
}

.all-titles,
.all-number-ratings,
.all-ratings,
.all-image-urls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 5px;
}

.Titles,
.Number-Reviews,
.Ratings,
.Image-URLs {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer {
  height: 120px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
}

.box-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
